.button{
  margin-top: 30px;
  background-color: rgb(204, 68, 136);
  width: 20%;
  left:10%;
  position: relative;
}

.input{

  display: block;
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 200px;
  width: 50%;
  text-align: right;
}

.card{
  width: 50%;
  height: 40%;
  margin-left: 300px;
  margin-top: 100px;
  padding-top: 0px;
  background-color:lightblue;
}
.custom-select{
  width: 50%;
  margin-left: 200px;
  margin-top: 10px;
}

#res{
  margin-left:70%;
  margin-top: 5%;
  font-size: 30px;
  color: brown;
  
}

.card-header{
  text-align: center;
  padding-bottom: 10px;
  background-color: bisque;
  padding-top: 0px;
  margin-top: 0px;
}

html { 
  background: url(https://midu.dev/images/wallpapers/una-taza-de-javascript.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.App{

  background-color: transparent;
  position: absolute;
  width: 80%;
}